/* main and container */

.main {
	margin: 0 auto;
	width: 60rem;
	padding: 2rem;
	font-size: 2rem;
}

.container {
	border: 3px solid $color-2;
	padding: 1rem;
	border-radius: 2rem;
	margin: 1rem 0;
	background: $color-1;
	box-shadow: $shadow-1;
	position: relative;
	backface-visibility: hidden;
	transform-origin: top center;

	&--appear {		
		animation: appearUp .5s ease-out;
	}
	
	&--disappear {
		animation: disappearUp .5s ease-out;
	}

	&__button {
		padding: .5rem 1rem;
		margin: 1rem 1rem 1rem 0;
		border: none;
		border-radius: 5px;
		min-width: 10rem;
		background: $color-3;
		color: $color-4;
		text-transform: uppercase;
		cursor: pointer;
		transition: all .1s;

		&:focus {
			outline: none;
		}
		
		&:hover {
			transform: translateY(-3px);
			box-shadow: $shadow-1;
		}

		&:active {
			transform: translateY(1px);
			box-shadow: none;
		}

	}	

}

