/* global actions */

.global-actions {
	// look
	background: $color-1;
	box-shadow: $shadow-1;
	border-top: $border-1;
	// layout
	display: flex;
	justify-content: space-between;
	position: fixed;
	bottom: 0;
	left: 0;
	// dimensions
	width: 100%;
	padding: 1rem;
	//layers
	z-index: 9;
	// typography
	font-size: 1rem;
	color: $color-4;

	&__button {
		display: block;
		background: none;
		border: none;
	}

	&__icon {
		font-size: 3rem;
		display: block;
		color: $color-4;
		border: 3px solid $color-4;
		padding: 1rem;
		border-radius: 1rem;
		margin: 0 0 .5rem;
	}

}