.main {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&::before,
	&::after {
		content: '';
		display: block;
		width: 100%;
		background:
		linear-gradient(135deg, $color-3 25%, transparent 25%) -13px 0,
		linear-gradient(225deg, $color-3 25%, transparent 25%) -13px 0,
		linear-gradient(315deg, $color-3 25%, transparent 25%),
		linear-gradient(45deg, $color-3 25%, transparent 25%);
		background-size: 26px 26px;
		background-color: $color-1;
		flex-shrink: 0;

	}
	
	&::before {
		flex-basis: 7.5rem;
	}

	&::after {
		flex-basis: 9.5rem;
	}

	@include respond(tab-port) {
		&::before {
			flex-basis: 6.5rem;
		}
	
		&::after {
			flex-basis: 6rem;
		}
	}
}