/* Reset */

:root {
	--example: #000;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	font-family: inherit;
	font-size: inherit;
}

html,
body {
	height: 100% !important;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font-family: 'Anonymous Pro', monospace;
	font-weight: 400;
	line-height: 1.6;
	font-size: 1.6rem;
	margin: 0;

/*I'm not sure these should go in reset, but don't have a good place for them yet.*/
	background: $color-3;
	color: $color-4;
}