/* timer */

.timer-wrapper {
	font-size: 2rem;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	flex-wrap: wrap;
	align-content: flex-start;
	padding: 1rem;
}

.timer {
	border: $border-1;
	padding: 1rem;
	border-radius: 2rem;
	margin: 1rem;
	background: $color-1;
	box-shadow: $shadow-1;
	position: relative;
	backface-visibility: hidden;
	transform-origin: top center;

	&--appear {		
		animation: appearUp .5s ease-out;
	}
	
	&--disappear {
		animation: disappearUp .5s ease-out;
	}

	&__button {
		padding: .5rem 1rem;
		margin: 1rem 1rem 1rem 0;
		border: none;
		border-radius: 5px;
		min-width: 10rem;
		background: $color-3;
		color: $color-4;
		text-transform: uppercase;
		cursor: pointer;
		transition: all .1s;

		&:focus {
			outline: none;
		}
		
		&:hover {
			transform: translateY(-3px);
			box-shadow: $shadow-1;
		}

		&:active {
			transform: translateY(1px);
			box-shadow: none;
		}

	}	
	

	&__name {
		font-size: 3rem;
		font-weight: 600;
		padding: 0 1rem;
		margin: 0 0 1rem;
		display: block;

		&--show {
			background: none;
			border: none;
			color: currentColor;
		}
	}
	
	&__display {
		background: $color-2;
		color: $color-4;
		padding: .5rem 6rem;
		font-size: 4rem;
		text-align: right;
		text-shadow: $shadow-2;
		border-radius: 10px;
		box-shadow: inset $shadow-2;
		margin: 2.6rem 0;
		border: .3rem solid $color-1;
	}
	
	.playing &__display {
		border: .3rem solid $color-4;
	}
	
	&__icon {
		position: absolute;
		right: 2rem;
		bottom: 4.4rem;
		font-size: 4rem;
		color: $color-1;
		text-shadow: $shadow-2;
	}
	
	&__set-time {
		position: absolute;
		padding: 0 .25rem;
		min-width: 6rem;
	}
	
	&__increment {
		bottom: 8.75rem;
	}
	
	&__decrement {
		bottom: 0rem;
	}
	
	&__hours {
		right: 18.4rem;    
	}
	
	&__minutes {
		right: 11.95rem;
	}
	
	&__seconds {
		right: 5.5rem;
	}

}