$color-1: hsla(398, 50%, 94%, 1);
$color-2:  hsla(40, 68%, 88%, 1);
$color-3: hsla(40, 30%, 90%, 1);
$color-4: hsla(40, 95%, 30%, 1);
$color-active: hsla(0,0%,0%,1);

$border-1: 3px solid $color-2;

$shadow-1: 0px 1px 3px rgba(0,0,0,.5);
$shadow-2: 2px 2px 2px rgba(0,0,0,.1);